<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Menu</li>
        <li>
            <a href="{{ path('mika_basecode_ajout_categorie') }}">
                Ajouter une catégorie
            </a>
        </li>
        <li>
            <a href="{{ path('mika_basecode_ajout_sous_categorie') }}">
                Ajouter une sous-catégorie
            </a>
        </li>
        <li>
            <a href="{{ path('mika_basecode_choix_ajout_article') }}">
                Ajouter un article
            </a>
        </li>
    </ul>
</div>