{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        <div class="col-md-6 col-lg-6 droite">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
        </div>
        <div class="col-md-6 col-lg-6">
            <input type="text" id="username" name="username" required="required" />
        </div>
    </div>
    <br>
    <div class="center">
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
    <br>
    <div class="center">
        <p>Un email va vous être envoyé.</p>
    </div>
</form>
